﻿body {
  margin:0px;
  background-color:rgba(42, 42, 42, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:270px;
  width:27px;
  height:29px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:268px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:299px;
  width:1106px;
  height:267px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:126px;
  width:1102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1263px;
  height:260px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1263px;
  height:260px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:122px;
  width:1259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:429px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1004px;
  width:1310px;
  height:429px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:206px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1106px;
  height:552px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:576px;
  width:1106px;
  height:552px;
  font-size:20px;
  color:#FFFFFF;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1106px;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:269px;
  width:958px;
  height:30px;
}
#u38_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:964px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:35px;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:159px;
  height:30px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:0px;
  width:188px;
  height:30px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:0px;
  width:222px;
  height:30px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:218px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:0px;
  width:118px;
  height:30px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:0px;
  width:136px;
  height:30px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
