﻿body {
  margin:0px;
  background-color:rgba(42, 42, 42, 1);
  background-image:none;
  position:static;
  left:auto;
  width:10px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
