﻿body {
  margin:0px;
  background-color:rgba(42, 42, 42, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:270px;
  width:27px;
  height:29px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:268px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:299px;
  width:1106px;
  height:267px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:126px;
  width:1102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1263px;
  height:260px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1263px;
  height:260px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:122px;
  width:1259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:429px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1004px;
  width:1310px;
  height:429px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:206px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:240px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:603px;
  width:300px;
  height:240px;
  font-size:20px;
  color:#FFFFFF;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:269px;
  width:958px;
  height:30px;
}
#u142_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:964px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:35px;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:159px;
  height:30px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:0px;
  width:188px;
  height:30px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:0px;
  width:222px;
  height:30px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:218px;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:0px;
  width:118px;
  height:30px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:0px;
  width:136px;
  height:30px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
