
#jp-post-flair:empty {
	display: none;
}

.site-content #jp-post-flair {
	margin: 24px 0;
}

.widget #jp-post-flair {
	padding-top: 0;
}

.entry-content div.jp-relatedposts {
	margin: 0;
}

div.jp-relatedposts .jp-relatedposts-headline em:after {
	content: ":";
}

#page .entry-content div.sharedaddy h3,
#page .entry-summary div.sharedaddy h3,
#page .entry-content h3.sd-title,
#page .entry-summary h3.sd-title,
#primary div.sharedaddy .jp-relatedposts-headline em,
.pd-rating {
	color: #767676;
	font-size: 11px;
	text-transform: uppercase;
}

.pd-rating {
	min-height: 23px;
	margin-bottom: 5px;
}

.wp-multiplayer,
.PDS_Poll,
.entry-content .slideshow-window {
	margin-bottom: 24px;
}

.entry-content .gist table {
	margin-bottom: 0;
}

.entry-content .slideshow-window {
	border-radius: 0;
}

.entry-content .video-player {
	padding: 0 0 24px;
}

.highlander-enabled #respond {
	margin: 0;
	padding: 0;
}

.highlander-enabled #respond h3 {
	margin: 0 0 24px;
}

.highlander-enabled #respond h3 small a {
	width: 24px;
}

.wpcnt {
	margin-bottom: 15px; /* 24-9 */
}

#wpstats {
	display: none;
}

img[id*="botd"] {
	position: absolute;
}


.aboutme_widget #am_thumbnail {
	margin-bottom: 18px;
}

.aboutme_widget #am_thumbnail img {
	border: 0;
	max-width: 100%;
}

.aboutme_widget #am_name {
	font-weight: 900;
	margin: 0;
}

.aboutme_widget #am_headline {
	font-size: 14px;
	line-height: 1.2857142857;
	margin: 0;
}

.aboutme_widget #am_bio {
	margin: 18px 0;
}

.aboutme_widget #am_bio p {
	margin-bottom: 6px;
}

.aboutme_widget #am_bio:empty {
	margin: 0;
}

.aboutme_widget #am_services {
	margin-top: 18px;
}

.widget_akismet_widget a,
.content-sidebar .widget_akismet_widget a {
	color: rgba(255,255,255,0.5) !important;
}

.widget_akismet_widget a:hover,
.content-sidebar .widget_akismet_widget a:hover {
	color: rgba(255,255,255,0.7)  !important;
}

.widget_authors li {
	margin-bottom: 9px;
}

.widget_authors li:last-child {
	margin-bottom: 0;
}

.widget_authors img {
	margin-right: 5px;
}
.widget_contact_info > div {
	margin-bottom: 18px;
}

.widget_contact_info > div:last-child {
	margin-bottom: 0;
}

.widget_jetpack_display_posts_widget .jetpack-display-remote-posts h4 {
	font-size: 14px;
	line-height: 1.2857142857;
	margin: 0 0 9px;
}

.widget_jetpack_display_posts_widget .jetpack-display-remote-posts p {
	font-size: 14px;
	line-height: 1.2857142857 !important;
}

.widget_jetpack_display_posts_widget .jetpack-display-remote-posts p {
	margin: 9px 0 18px !important;
}

.widget_follow_button_widget iframe {
	margin-bottom: 0;
}

.widget_gravatar img.avatar,
.widget-grofile .grofile-thumbnail {
	height: auto;
	max-width: 100% !important;
}

.widget-area .widget-grofile h4 {
	font-size: 12px;
	line-height: 1.2857142857;
	margin: 18px 0 9px;
	text-transform: uppercase;
}

.widget-area .widget-grofile .grofile-meta h4 {
	font-size: 18px;
	line-height: 1;
	text-transform: none;
}

.widget_image .wp-caption,
.widget_image .wp-caption-text {
	margin-bottom: 0;
}

.widget_image img {
	height: auto;
}

.widget_jetpack_posts_i_like .widgets-list-layout li {
	margin: 0;
}

.widget_recent_comments table,
.widget_recent_comments td {
	border: 0;
}

.widget_recent_comments td.recentcommentsavatartop,
.widget_recent_comments td.recentcommentsavatarend {
	padding: 5px 5px 5px 0;
}

.widget_recent_comments td.recentcommentstexttop,
.widget_recent_comments td.recentcommentstextend {
	padding: 5px 0 5px 5px;
	vertical-align: top;
}

.widget_recent_images img {
	height: auto;
}

.widget_top-posts .widgets-list-layout li {
	margin-bottom: 0;
}

.widget_twitter li {
	margin-bottom: 18px;
}

.widget_twitter li:last-child {
	margin-bottom: 0;
}

.widget_twitter iframe {
	margin: 18px 0 0;
}

.widget_jp_blogs_i_follow li,
.widget_delicious li,
.widgets-list-layout li,
.widget_top-clicks li,
.widget_top-posts li,
.top_rated li,
.widget_upcoming_events_widget .upcoming-events li {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	padding: 8px 0 9px;
}

.widget_jp_blogs_i_follow li:first-child,
.widgets-list-layout li:first-child,
.widget_top-clicks li:first-child,
.widget_top-posts li:first-child,
.top_rated li:first-child,
.widget_upcoming_events_widget .upcoming-events li:first-child {
	border-top: 0;
}

.content-sidebar .widget_jp_blogs_i_follow li,
.content-sidebar .widgets-list-layout li,
.content-sidebar .widget_top-clicks li,
.content-sidebar .widget_top-posts li,
.content-sidebar .top_rated li,
.content-sidebar .widget_upcoming_events_widget .upcoming-events li {
	border-color: rgba(0, 0, 0, 0.1);
}

.content-sidebar widget-area .widget-grofile h4 {
	font-weight: 900;
}

@media screen and (min-width: 1008px) {
	.footer-sidebar .widget_jp_blogs_i_follow li,
	.footer-sidebar .widget_jp_blogs_i_follow li,
	.footer-sidebar .widget_top-clicks li,
	.footer-sidebar .widget_top-posts li,
	.footer-sidebar .top_rated li,
	.footer-sidebar .widget_upcoming_events_widget .upcoming-events li,
	.primary-sidebar .widget_jp_blogs_i_follow li,
	.primary-sidebar .widget_jp_blogs_i_follow li,
	.primary-sidebar .widget_top-clicks li,
	.primary-sidebar .widget_top-posts li,
	.primary-sidebar .top_rated li {
		border-top: 0;
		padding: 0 0 6px;
	}

	.footer-sidebar .widget_jp_blogs_i_follow li:last-child,
	.footer-sidebar .widget_jp_blogs_i_follow li:last-child,
	.footer-sidebar .widget_top-clicks li:last-child,
	.footer-sidebar .widget_top-posts li:last-child,
	.footer-sidebar .top_rated li:last-child,
	.footer-sidebar .widget_upcoming_events_widget .upcoming-events li:last-child,
	.primary-sidebar .widget_jp_blogs_i_follow li:last-child,
	.primary-sidebar .widget_jp_blogs_i_follow li:last-child,
	.primary-sidebar .widget_top-clicks li:last-child,
	.primary-sidebar .widget_top-posts li:last-child,
	.primary-sidebar .top_rated li:last-child {
		padding: 0;
	}

	.primary-sidebar .widget_blog_subscription input[type="text"],
	.footer-sidebar .widget_blog_subscription input[type="text"] {
		padding: 3px 2px !important;
	}

	.footer-sidebar .widget_jetpack_display_posts_widget .jetpack-display-remote-posts h4,
	.primary-sidebar .widget_jetpack_display_posts_widget .jetpack-display-remote-posts h4,
	.footer-sidebar .widget_jetpack_display_posts_widget .jetpack-display-remote-posts p,
	.primary-sidebar .widget_jetpack_display_posts_widget .jetpack-display-remote-posts p,
	.footer-sidebar .widget-grofile .grofile-meta h4,
	.primary-sidebar .widget-grofile .grofile-meta h4 {
		font-size: 12px;
		line-height: 1.5;
	}

	.footer-sidebar .widget_jetpack_display_posts_widget .jetpack-display-remote-posts p,
	.primary-sidebar .widget_jetpack_display_posts_widget .jetpack-display-remote-posts p {
		line-height: 1.5 !important;
	}

	.footer-sidebar .widget-grofile h4,
	.primary-sidebar .widget-grofile h4,
	.footer-sidebar .top_rated div > p:first-of-type,
	.primary-sidebar .top_rated div > p:first-of-type {
		font-size: 11px;
		line-height: 1.6363636363;
	}
}
