/*
 * Image Widget styles for Jetpack
 */

/* Clear floats */
.jetpack-image-container:after {
	clear: both;
}
.jetpack-image-container:before,
.jetpack-image-container:after {
	display: table;
	content: "";
}