﻿body {
  margin:0px;
  background-color:rgba(42, 42, 42, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:270px;
  width:27px;
  height:29px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:268px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:299px;
  width:1106px;
  height:267px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:126px;
  width:1102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1263px;
  height:260px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1263px;
  height:260px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:122px;
  width:1259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:429px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1004px;
  width:1310px;
  height:429px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:206px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:366px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:592px;
  width:1082px;
  height:366px;
  font-size:20px;
  color:#FFFFFF;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  word-wrap:break-word;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:269px;
  width:958px;
  height:30px;
}
#u64_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:964px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:35px;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:159px;
  height:30px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:0px;
  width:188px;
  height:30px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:0px;
  width:222px;
  height:30px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:218px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:0px;
  width:118px;
  height:30px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:0px;
  width:136px;
  height:30px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
