﻿body {
  margin:0px;
  background-color:rgba(42, 42, 42, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:270px;
  width:27px;
  height:29px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:268px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:299px;
  width:1106px;
  height:267px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:126px;
  width:1102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1263px;
  height:260px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1263px;
  height:260px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:122px;
  width:1259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:429px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1004px;
  width:1310px;
  height:429px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:206px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:382px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:576px;
  width:1088px;
  height:382px;
  font-size:20px;
  color:#FFFFFF;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  word-wrap:break-word;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:269px;
  width:958px;
  height:30px;
}
#u116_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:964px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:35px;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:159px;
  height:30px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:0px;
  width:188px;
  height:30px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:0px;
  width:222px;
  height:30px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:218px;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:0px;
  width:118px;
  height:30px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:0px;
  width:136px;
  height:30px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
