﻿body {
  margin:0px;
  background-color:rgba(42, 42, 42, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:270px;
  width:27px;
  height:29px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:268px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:299px;
  width:1106px;
  height:267px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:126px;
  width:1102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1263px;
  height:260px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1263px;
  height:260px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:122px;
  width:1259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:429px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1004px;
  width:1310px;
  height:429px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:206px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:418px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:576px;
  width:1091px;
  height:418px;
  font-size:20px;
  color:#FFFFFF;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  word-wrap:break-word;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:269px;
  width:958px;
  height:30px;
}
#u90_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:964px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:35px;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:159px;
  height:30px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:0px;
  width:188px;
  height:30px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:0px;
  width:222px;
  height:30px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:218px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:0px;
  width:118px;
  height:30px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:0px;
  width:136px;
  height:30px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
